
  <gazebo reference="link_chassis">
    <material>Gazebo/Yellow</material>
  </gazebo>
  <gazebo reference="link_front_left_wheel">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="link_front_right_wheel">
    <material>Gazebo/Blue</material>
  </gazebo>
  <gazebo reference="link_back_left_wheel">
    <material>Gazebo/Red</material>
  </gazebo>
  <gazebo reference="link_back_right_wheel">
    <material>Gazebo/Red</material>
  </gazebo>
